<div class="overflow-auto" style="padding-right: 3%" style="max-width: 95vh; max-height: 40vh;">

    <h4>Proyectos</h4>
    <br>

    <div class="card shadow" style=" margin-right: 2%">
        <div class="card-header">
              <strong>Digizity, Centro Digital de Datos</strong> 
        </div>
        <div class="card-body">
            <p class="card-title">
                Empresa: AVANZA y CTAG
            </p>
            <p class="card-text">2022/2023</p>
        </div>
    </div>

    <div class="card shadow" style="margin-top: 2%; margin-right: 2%">
        <div class="card-header">
              <strong>DentalFEM</strong> 
        </div>
        <div class="card-body">
            <p class="card-title">
                Empresa: INDOMINUS ADVANCED SOLUTIONS
            </p>
            <p class="card-text">2021/2022</p>
        </div>
    </div>

    <div class="card shadow" style="margin-top: 2%; margin-right: 2%">
        <div class="card-header">
              <strong>Indigo - Optimun</strong> 
        </div>
        <div class="card-body">
            <p class="card-title">
                Empresa: Universidad Carlos III de Madrid y ITEA3
            </p>
            <p class="card-text">2018/2019</p>
        </div>
    </div>

    
    
    <br>

</div>