<div class="overflow-auto" style="padding-right: 3%" style="max-width: 95vh; max-height: 40vh;">

    <h4>Certificados</h4>
    <br>

    <div class="card shadow" style=" margin-right: 2%">
        <div class="card-header">
              <strong>Digitalización aplicada al Sector Productivo</strong> 
        </div>
        <div class="card-body">
            <p class="card-title">
                Escuela: CEPYME
            </p>
            <p class="card-text">2022</p>
        </div>
    </div>

    <div class="card shadow" style="margin-top: 2%; margin-right: 2%">
        <div class="card-header">
              <strong>Angular: De cero a experto</strong> 
        </div>
        <div class="card-body">
            <p class="card-title">
                Escuela: Udemy
            </p>
            <p class="card-text">2023</p>
        </div>
    </div>

    
    
    <br>

</div>