
<div class="shadow mb-4 bg-white rounded">
    <div class="row" >

        <div class="col col-5 p-5">
            <img routerLink="" class="img-fluid rounded" src="../../assets/img/foto.jpeg" alt="">
        </div>
        <div class="col" style="padding-top: 4%; padding-left: 0">

            <br>
                <h2>Soy Daniel Sevilla</h2>
                <h4>Desarrollador software, Fullstack</h4>
            <hr>

           <div class="" style="padding-right: 3%; padding-top: 0; margin-top: -3%;">
            <router-outlet class="p-3"></router-outlet>
           </div>
            



        </div>
    </div>
    <div class="row p-3 rounded shadow " style="background-color: rgb(128, 67, 128);">

        <div class="col">
            <img routerLink="" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" class="rounded mx-auto d-block" style=" width: 26%; padding: 4%;" src="../../assets/img/home.png" alt="">
        </div>

        <div class="col">
            <img routerLink="estudios" routerLinkActive="active" class="rounded mx-auto d-block" style=" width: 26%; padding: 4%;" src="../../assets/img/libro.png" alt=""> 
        </div>

        <div class="col">
            <img  routerLink="experiencia" routerLinkActive="active" class="rounded mx-auto d-block" style=" width: 26%; padding: 4%;" src="../../assets/img/maletin.png" alt="">
        </div>

        <div class="col">
            <img  routerLink="certificados" routerLinkActive="active" class="rounded mx-auto d-block" style=" width: 26%; padding: 4%;" src="../../assets/img/certificado.png" alt="">
        </div>

        <div class="col">
            <img  routerLink="proyectos" routerLinkActive="active" class="rounded mx-auto d-block" style=" width: 26%; padding: 4%;" src="../../assets/img/proyecto.png" alt="">
        </div>



    </div>
</div>

