<div class="" style="padding-right: 2%">

    <h4>Estudios</h4>
    <br>

    <div class="card shadow">
        <div class="card-header">
            
                <strong>Grado académico:</strong> Bachillerato tecnológico
            
          
        </div>
        <div class="card-body">
            <p class="card-title">Instituto La Salle Griñón</p>
        </div>
    </div>

    <div class="card shadow" style="margin-top: 2%">
        <div class="card-header ">
            
                <strong>Grado académico:</strong> Ingeniería Informática
            
          
        </div>
        <div class="card-body">
            <p class="card-title">Universidad Carlos III de Madrid</p>
        </div>
    </div>

</div>